In [76]:
url = 'https://en.wikipedia.org/wiki/List_of_cities_and_towns_in_Russia_by_population'

In [77]:
from bs4 import BeautifulSoup

In [78]:
import requests

In [79]:
resp = requests.get(url)

In [80]:
table = BeautifulSoup(resp.text).find_all('table')[4]

In [81]:
big_cities = dict()

for row in table.find_all('tr')[1:100]:
    cells = row.find_all('td')
    city = cells[0].text.strip()
    population = int(cells[4].text.strip().replace(',', ''))
    big_cities[city] = population

In [82]:
import pandas as pd

In [83]:
df = pd.read_csv('../data/ru_lat_lng_clear.csv')

In [84]:
all_cities = set(df['name'].unique())

In [85]:
big_cities_set = set(big_cities.keys())

In [86]:
len(all_cities & big_cities_set)

80

Seems good

In [87]:
big_cities_clear = all_cities & big_cities_set

In [89]:
len(big_cities_clear)

80

In [99]:
len(big_cities_clear)

80

In [92]:
df.head()

         name country      subcountry  geonameid        lat        lng
0     Udomlya  Russia       Tverskaya     452949  57.876779  35.005110
1    Sosnovka  Russia  St.-Petersburg     461698  56.253352  51.283364
2      Sasovo  Russia          Rjazan     461699  54.349928  41.924087
3     Zyuzino  Russia          Moscow     461740  55.678753  38.120862
4  Zyablikovo  Russia          Moscow     461835  58.786994  36.710175

In [98]:
df['name'].isin(big_cities_clear).value_counts()

False    855
True      82
Name: name, dtype: int64

In [108]:
df_big = df[df['name'].isin(big_cities_clear)].copy()

In [112]:
df_big['name'].value_counts()

Blagoveshchensk        True
Kirov                  True
Kemerovo              False
Kaluga                False
Surgut                False
Volgograd             False
Saint Petersburg      False
Tver                  False
Syktyvkar             False
Barnaul               False
Taganrog              False
Vladimir              False
Angarsk               False
Ivanovo               False
Yakutsk               False
Ulyanovsk             False
Dzerzhinsk            False
Balashikha            False
Vologda               False
Samara                False
Novorossiysk          False
Vladikavkaz           False
Tula                  False
Krasnoyarsk           False
Krasnodar             False
Novokuznetsk          False
Petrozavodsk          False
Bratsk                False
Yekaterinburg         False
Bryansk               False
                      ...
Khimki                False
Tambov                False
Komsomolsk-on-Amur    False
Voronezh              False
Izhevsk               False
Kursk                 False
Kazan                 False
Cherepovets           False
Lyubertsy             False
Nizhnevartovsk        False
Nizhnekamsk           False
Chita                 False
Kaliningrad           False
Cheboksary            False
Khabarovsk            False
Yoshkar-Ola           False
Biysk                 False
Irkutsk               False
Yuzhno-Sakhalinsk     False
Astrakhan             False
Sochi                 False
Omsk                  False
Orsk                  False
Armavir               False
Perm                  False
Balakovo              False
Saransk               False
Magnitogorsk          False
Ulan-Ude              False
Makhachkala           False
Name: name, Length: 80, dtype: bool

In [113]:
df_big[df_big['name'] == 'Blagoveshchensk']

                name country     subcountry  geonameid       lat         lng
617  Blagoveshchensk  Russia  Bashkortostan     576116  50.29064  127.527173
897  Blagoveshchensk  Russia           Amur    2026609  50.29064  127.527173

In [114]:
df_big[df_big['name'] == 'Kirov']

      name country subcountry  geonameid        lat        lng
471  Kirov  Russia      Kirov     548408  58.603591  49.668014
472  Kirov  Russia     Kaluga     548410  58.603591  49.668014

In [118]:
df_big = df_big.drop([897, 472])

In [122]:
df_big.to_csv('../data/ru_lat_lng_clear_v2.csv', index=False)