In [97]:
import pandas as pd
import numpy as np

In [98]:
nodes = ['A', 'B', 'C', 'D', 'E', 'F']

In [99]:
nodes = pd.Series(nodes, name='name')

In [100]:
mat = pd.crosstab(nodes, nodes).astype(float)

In [101]:
mat

name    A    B    C    D    E    F
name
A     1.0  0.0  0.0  0.0  0.0  0.0
B     0.0  1.0  0.0  0.0  0.0  0.0
C     0.0  0.0  1.0  0.0  0.0  0.0
D     0.0  0.0  0.0  1.0  0.0  0.0
E     0.0  0.0  0.0  0.0  1.0  0.0
F     0.0  0.0  0.0  0.0  0.0  1.0

<div><img width=200 src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c9/Multiple_minimum_spanning_trees.svg/440px-Multiple_minimum_spanning_trees.svg.png"></div>

In [102]:
def set_mat(a, b, d):
    mat.loc[a][b] = d
    mat.loc[b][a] = d

In [103]:
set_mat('A', 'B', 1)
set_mat('A', 'E', 3)
set_mat('A', 'D', 4)

set_mat('B', 'E', 2)
set_mat('B', 'D', 4)

set_mat('C', 'E', 4)
set_mat('C', 'F', 5)

set_mat('D', 'E', 4)

set_mat('E', 'F', 7)

In [104]:
for n in nodes:
    for nn in nodes:
        mat[n][nn] = mat[n][nn] / 10
        if (mat[n][nn] == 0):
            mat[n][nn] = -1

In [105]:
for n in nodes:
    mat[n][n] = 1

In [106]:
mat

name    A    B    C    D    E    F
name
A     1.0  0.1 -1.0  0.4  0.3 -1.0
B     0.1  1.0 -1.0  0.4  0.2 -1.0
C    -1.0 -1.0  1.0 -1.0  0.4  0.5
D     0.4  0.4 -1.0  1.0  0.4 -1.0
E     0.3  0.2  0.4  0.4  1.0  0.7
F    -1.0 -1.0  0.5 -1.0  0.7  1.0

In [107]:
mat.to_csv('../data/example_mat.csv')